nav{
  height: 120px;
  width: 100%;
  color: #FFFFFF;
  background-color: #4056A1;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5em;
  padding-right: 1.5em;
  align-items: center;
  position: absolute;
  margin-bottom: 100px;
}
.right{
  font-size: 32px;
  font-family:'Source Sans Pro', sans-serif;
}

.left{
  font-size: 38px;
}

.arrow {
  text-align: center;
  color:red;
}